img {
    height: 20px;
  }
  h2 {
    text-align: center;
  }
  body {
    margin :0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    
  }
  .navbar {
    display: flex;
    justify-content:space-between;
    font-size: 15px;
    align-items:  center;
    background-color: black;
    padding: 8px 12px;
        
  }
  a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
  }
  .navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    
  }
  
  .navbar_menu li {
    padding: 8px 12px;
  }
  
  .navbar_logo {
    list-style: none;
    padding-right: 15px;
    color: black;
    font-size: 15px;  
  }
  .img1{
    height: 30px;
  }
  
  .navbar_menu li:hover {
    background-color:#d49466;
    border-radius: 4px;
  }
  


h1{text-align: center;}
.logo {width: 250px; height: 250px;  }

p{padding: 0; margin: 0;}
div > span {
display: table-cell;
text-align: left;
vertical-align: middle;
 font-size: 20PX;
 line-height: 30px;
 width: 130px;
 margin-right: 5px;

}

.img1 { 
    width: 20px;
    height: 20px;
    
}

.main{
    height:50px;
    width : 100%;
    font-size: 16px;
    text-align: right;
    display: table; 
    padding-right: 10px;
    
    }

