*{
    margin: 0;
    padding: 0;
    color: black;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    height: 100px;
    width: 100%;
    line-height: 100px;
    display: flex;  
    border-bottom: 2px solid black;
    background-color: white;
    z-index: 1;
}
.gnb{
    display:flex;
    /* margin: 0 auto; */
    text-align:center;
    width: 940px;
    font-size: 12px;
    margin-left: 30px;
}
.gnb li{
    margin-left: 60px;
    width:100px;
}
.gnb  li > .thum{
    display: none;
    margin-top: 2px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
}
.gnb li:hover .thum{
    display: block;
}
.gnb li .thum ul{
   display: flex;
   justify-content: center;
   border-bottom: 2px solid black;
   background-color: white;
}
.gnb li .thum li{
   margin:0 50px;
   width: 200px;
}
.gnb li .thum li p{
    color:grey;
}
#play li:first-child{
    line-height: 30px;
    text-align: left;
    width: 400px;
    /* background-color: aqua; */
    margin-top: 90px;
}
#play .line{
    width: 120px;
    background-color: black;
    height: 2px;
    margin: 10px 0;
}
#play .button{
    width: 120px;
    height: 30px;
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    margin-top: 10px;
}
#play li:last-child{
    text-align: center;
    width: 360px;
}
/*============================= header ==============================*/
.wrap{
   width: 1400px;
   margin: 0 auto;
   padding-top: 102px;
}

.banner .event{
   text-align: center;
   margin: 200px 0;
}
.banner .event h2{
   font-size: 40px;
   margin-bottom: 30px;
}
.banner  .event p{
   font-size: 20px;
   line-height: 40px;           
   color: grey;
}
/*============================= banner ==============================*/
.sub_banner{
    text-align: center;     
    margin-bottom: 200px;
}
.sub_banner .event{
   margin: 200px;
}
.sub_banner .event p{
    font-size: 20px;
   line-height: 40px;
   color: grey;
}
#line{
    width: 500px;
    border: 1px solid rgb(151, 151, 151);
    margin: 100px auto;
}
/*============================= sub_banner ===========================*/
footer{
  width: 100%;
  height: 200px;
  background-color: black;
}
footer .wrap{
  width: 1400px;
  display: flex;
  color : rgb(212, 212, 212);
  padding-top: 0;
}
footer p{
  color: grey;
  line-height: 30px;
  margin-top: 40px;
}
footer p span{
  font-weight: bold;
  color: white;
}
footer div:last-child{
  margin: 0 auto;
}
footer  .town{
  font-weight: bold;
  color: grey;
  text-decoration: underline;
}